<?xml version="1.0" encoding="utf-8" ?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CategoryConfig>
    <CategoryList>
      <Category Name="文件处理" Sort="0">
        <CategoryItemList>
          <CategoryItem Sort="0" Name="文件批量改名改内容" AssemblyName="XCLNetFileReplace"></CategoryItem>
        </CategoryItemList>
      </Category>
      <Category Name="文本处理" Sort="0">
        <CategoryItemList>
          <CategoryItem Sort="0" Name="正则表达式测试" AssemblyName="XCLRegexpTool"></CategoryItem>
          <CategoryItem Sort="0" Name="HTML字符串转JS常量" AssemblyName="StringToJsConst"></CategoryItem>
        </CategoryItemList>
      </Category>
      <Category Name="加密解密" Sort="0">
        <CategoryItemList>
          <CategoryItem Sort="0" Name="MD5加密" AssemblyName="MD5Tool"></CategoryItem>
          <CategoryItem Sort="0" Name="其它加密解密" AssemblyName="CommonEncrypt"></CategoryItem>
        </CategoryItemList>
      </Category>
      <Category Name="其它" Sort="0">
        <CategoryItemList>
          <CategoryItem Sort="0" Name="时间日期差" AssemblyName="DateTimeDIFF"></CategoryItem>
        </CategoryItemList>
      </Category>
    </CategoryList>
  </CategoryConfig>
</Config>